@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box; /* Asegura que el padding y border estén incluidos en el width */
}

body {
    background-color: #f4f4f4;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px; /* Añade un poco de espacio alrededor del body */
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px; /* Añade padding alrededor del contenedor */
    gap: 20px; /* Espacio entre elementos dentro del contenedor */
}

h2 {
    color: #333333;
    margin-bottom: 30px;
}

form {
    width: 80%; /* Ajusta el ancho del formulario al contenedor */
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Añade padding al formulario */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%; /* Espacio entre los elementos del formulario */
}

.form-group {
    margin-bottom: 20px; /* Espacio entre cada grupo de formulario */
    display: flex;
    align-items: center;
    width: 100%;
}

label {
    display: inline-block;
    width: 150px;
    font-weight: 500;
    color: #555555;
    margin-right: 10px; /* Espacio entre label y input */
}

input[type="text"],
input[type="url"],
input[type="file"],
textarea,
select {
    width: calc(100% - 160px); /* Ajuste para alinearse con el ancho del label */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Montserrat";
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
